<!DOCTYPE html>
<html lang="en">
	<head>

		<title>Haute Vie - <?= ucwords($category_slug); ?></title>
		<?= $base; ?>


		<link rel="shortcut icon" type="image/png" href="images/favicon.png">
		<meta name="description" content="">
		<!-- Mobile viewport optimized -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-glyphicons.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="css/global-styles.css" rel="stylesheet">
		<link href="css/shop-styles.css" rel="stylesheet">
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">
		<!-- Animate CSS -->
		<link href="css/animate.css" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">	
    <!-- FOR NOTIFICATION-->
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
 <!-- FOR NOTIFICATION-->
    
    <!-- Modernizer -->
    <script src="js/modernizr-2.6.2.min.js"></script>	
    
		<!-- Material Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    <style type="text/css">

      .out-of-stock {

        position: absolute;

        width: 100%;

        height: 100%;

        background: rgba(255,255,255,.7);

        z-index: 1;
        top: 0;
        border: 1px solid #e3e3e3;

      }



      .out-of-stock h4 {

        margin: 0px;

        padding: 15px;

        background: #e3e3e3;

        margin-top: 150px;

        text-align: center;

        font-weight: 600;

      }



      .third-section .panel {

        position: relative;

      }

    </style>


	</head>
    
     <body>

    <?php require_once("includes/header.php");?>
    <?php  if(empty($category_image)){ ?>
    <div class="top-section" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ),url(img/default_img.jpg);" >
    <?php }else{ ?>
    <div class="top-section" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ),url(<?= $category_image; ?>);" >

    <?php } ?>


      <div class="container">
        <div class="row">

                        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-2 text-center" style="color:#ffffff;">
                 <?php 

                     if(isset($category_name_sub)){ 

                         echo "<h3>$category_name_sub</h3>";
                 echo  "<p>$category_description_sub </p>";
                     
                                   }else{

                     echo   "<h3>$category_name</h3>";
                     echo  "<p>$category_description </p>";

                    }

                ?>
            
            <br>
            <!--<p><strong><?= $textline2; ?> results </strong></p>-->
          </div>
        </div>
      </div>
    </div>


    <div class="third-section accordion-styles">

      <div class="container">

        <div class="row">

          <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs">

            <div class="panel-group accordion-head" id="accordion">

                            <div class="panel panel-default">

                                <div class="panel-heading">

                                    <h4 class="panel-title clearfix">

                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">

                                            <h6>

                                              <i class="material-icons">&#xE313;</i> 
                                              <?= strtoupper($category_name);?>

                                            </h6>

                                        </a>

                                    </h4>

                                </div>

                                <div id="collapse1" class="panel-collapse collapse in">

                                    <div class="panel-body">

                                        <ul class="clothes">

                                     <?php 

              $sql_child_child = "SELECT * from category_tb WHERE parent_id = $category_id  ORDER BY POSITION ASC";
                            $y = $conn->query($sql_child_child);
                            $y->setFetchMode(PDO::FETCH_ASSOC);
                          
                              ?>
                     <?php   while ($row_child_child = $y->fetch()):  
                   
                        $childs = $row_child_child['id']; 
                     ?>

                  <li><a href="shop_sub/<?= $category_slug;?>/<?= $row_child_child['slug'];?>"><p><?= $row_child_child['name']; ?></p></a></li>

                                    <?php 

                            $sql_child_childs = "SELECT * from category_tb WHERE parent_id = $childs  ORDER BY POSITION ASC";
                            $ys = $conn->query($sql_child_childs);
                            $ys->setFetchMode(PDO::FETCH_ASSOC);
                          while ($row_child_childs = $ys->fetch()):
                              ?>

                              <li style="font-size: 12px"> <a href="shop_sub/<?= $category_slug;?>/<?= $row_child_childs['slug'];?>"><p> <?= ucfirst($row_child_childs['name']); ?></p></a></li>


                     <?php endwhile; ?>
                            <?php endwhile; ?>

                                    

                                        </ul>

                                    </div>

                                </div>

                            </div>

                        </div>

                      

          </div>

          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">

            <div class="row">

              <div class="col-lg-12 clearfix" style="margin-bottom: 20px;">

                <div class="dropdown pull-left contains-button" style="padding-right: 5px;">

                    <button id="dropdownMenuButton" data-toggle="dropdown" class="fav-btn">

                      <div class="clearfix">

                        <span class="pull-left"> <?php if(empty($filter)){ echo "Latest"; }else{ echo ucfirst($filter); }    ?></span>    <i class="fa fa-angle-down pull-right" style="line-height: 1.5em;"></i>

                      </div>  

                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    <!--  <a class="dropdown-item" >Our Favourites</a>

                      <a class="dropdown-item" >Bestsellers</a>-->

                <a <?php  if(empty($category_slug_sub)){ ?>

                href="shop_filter/<?=$category_slug;?>/latest" 

                      <?php }else{  ?>

                 href="shop_filters/<?=$category_slug;?>/<?= $category_slug_sub; ?>/latest" 

                     <?php } ?>
                class="dropdown-item" >Latest</a>

                <a <?php  if(empty($category_slug_sub)){ ?>

                href="shop_filter/<?=$category_slug;?>/low" 

                      <?php }else{  ?>

                 href="shop_filters/<?=$category_slug;?>/<?=$category_slug_sub?>/low" 

                     <?php } ?> 

                 class="dropdown-item" >Price Low - High</a>

                <a <?php  if(empty($category_slug_sub)){ ?>

                href="shop_filter/<?=$category_slug;?>/high" 

                      <?php }else{  ?>

                href="shop_filters/<?=$category_slug;?>/<?= $category_slug_sub;?>/high" 

                     <?php } ?> class="dropdown-item" >Price High - Low</a>

                    </div>

                </div>
                
                <!-- Refine search button with dropdown. Visible on mobile -->
                <div class="dropdown pull-right contains-button visible-xs" style="padding-left: 5px;">
			<button id="dropdownMenuButton" data-toggle="dropdown" class="fav-btn">
				<div class="clearfix">
					<span class="pull-left">Refine Search</span>    <i class="fa fa-angle-down pull-right" style="line-height: 1.5em;"></i>
				</div>	
			</button>

			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          
                  <a href="shop_sub/<?= $category_slug;?>/<?= $row_child_child['slug'];?>" class="dropdown-item"><?= $row_child_child['name']; ?></a>

                           <a href="shop_sub/<?= $category_slug;?>/<?= $row_child_childs['slug'];?>" class="dropdown-item"> <?= ucfirst($row_child_childs['name']); ?></a>

                 
                                    
				<!--<a class="dropdown-item" href="#">Our Favourites</a>
				<a class="dropdown-item" href="#">Bestsellers</a>
				<a class="dropdown-item" href="#">Newest</a>
				<a class="dropdown-item" href="#">Price Low - High</a>
				<a class="dropdown-item" href="#">Price High - Low</a>-->
			</div>
		</div>

                <!-- <button class="fav-btn pull-right visible-xs" id="show-refine"> Refine Search </button> -->

                <ul class="page pull-right hidden-xs" style="margin-top: 0px;">
                                 <?= $paginationCtrls; ?>

          
                </ul>

              </div>


              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                
        <div class="panel">
                 <input type="hidden" name="pid" id="<?= $row['id']; ?>product_id" value="<?= $row['id']; ?>">
                                    <div class="panel-body">

                                        <div class="image-in">

                                            <a href="product/<?= $row['slug'];?>">
                                            <!-- <a href="http://localhost/HVAfrica/single-product.php?product=<?= $row['slug'];?>"> -->
                                                <img src="<?= $row['img1'];?>" class="img-responsive img-resize">
                                            </a>    

                                        </div>

                                        <div class="hover-image">

                                            <img src="<?= $row['img2'];?>" class="img-responsive img-resize">

                                        </div>

        <div class="bag-func" onclick="cart('<?= $row['id']; ?>')">

        <i  style="cursor: pointer;"class="fa fa-shopping-bag"></i>

                                        </div>

                                    </div>

                                    <div class="panel-footer clearfix">

                                        <div class="clearfix">

                                            <h4 class="pull-left"><?= ucwords(decode_entities($row['title']));?></h4>
                                            <input type="hidden" id="<?= $row['id'];?>_name" value="<?= $row['title'];?>"> 
                                            
                        <p class="price pull-right">



                        </p>

                                        </div>

                                    </div>
                    <div class="out-of-stock">

                    <h4>OUT OF STOCK</h4>

                  </div>


                                </div>


              </div>




  
                <h4 class="pull-left">No Product Under This category.<br/>Please Come Again Next Time. Thank you!. </h4>





      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 <ul class="page pull-right hidden-xs" style="margin-top: 0px;">
                                   <!-- Pagination Ctrls -->
                </ul>
                  
      </div>
            </div>

            <div class="row visible-xs">

              <div class="col-xs-12 text-center">

                <ul class="page">

               <!-- Pagination Ctrls -->

                </ul>

              </div>

            </div>

          </div>

          

        </div>

      </div>  

    </div>



    <div class="refine-search visible-xs go-out">

      <div class="head-part">

        <a class="go-back"><i class="fa fa-angle-left" data-target="#myCarousel" data-slide-to="0"></i></a>

        <h3>Refine</h3>

        <p>XX</p>

        <a class="close-refine"><i class="material-icons">close</i></a>

      </div>
      

      <div class="body-part">

        <div id="myCarousel" class="carousel slide" data-interval="0">

          <div class="carousel-inner">

              <div class="item active" >

                <ul class="refine-param">

                 <li  class="" data-target="#myCarousel" data-slide-to="1">

                      <div class="clearfix">

                        <h4 class="pull-left">REFINE BY <?= strtoupper($category_name);?></h4>

                        <i class="fa fa-angle-right pull-right"></i>

                      </div>

                    </li>
    

                </ul> 

              </div>



              <div class="item">

                <ul class="refine-param sub-items">

               <!-- XX -->
                </ul>

              </div>



              <div class="item">

                <ul class="refine-param">

                  <li>

                    <input type="radio" name="colour"> Grey (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> White (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> Green (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> Orange (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> Yellow (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> Black (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> Red (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> Purple (200)

                  </li>

                </ul>

              </div>



              <div class="item">

                <ul class="refine-param">

                  <li>

                    <input type="radio" name="colour"> XXS (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> XS (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> S (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> M (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> L (200)

                  </li>

                  <li>

                    <input type="radio" name="colour"> XL (200)

                  </li>

                </ul>

              </div>



              <div class="item text-center p-range">

                GHS <input type="text" name="" placeholder="1"> <span style="margin-left: 10px;margin-right: 15px;">TO</span> GHS<input type="text" name="" placeholder="50">

              </div>

            </div>

        </div>

      </div>

      <div class="base-part clearfix">

        <button class="base-btn pull-left">Clear all</button>

        <button class="base-btn pull-right">Apply</button>

      </div>

    </div>

  




    <script type="text/javascript">

      $(document).ready(function(){

        $('.accordion-toggle').on('click', function() {

                  var $icon = $(this).find('.material-icons');

                  if ($icon.hasClass('add')) {

                      $icon.html('&#xE313;');

                  } else {

                      $icon.html('&#xE316;');

                  }

                  $icon.toggleClass('add');

              });

              $('.sub-items li a').click(function(){

                $(this).toggleClass('you-selected');

              });  

              $('.close-refine').click(function(){

                $('.refine-search').addClass('go-out');

              });   

              $('#show-refine').click(function(){

                $('.refine-search').removeClass('go-out');

              });           

      })

    </script>

  </body>

</html>


