<div class="term">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                <h1>ABOUT US</h1>	
                <p><br></p><p>Welcome to <span style="font-weight: bold;">Haute Vie Africa</span>!</p><p><br></p><p>Brought into actualisation by two brains in Ghana, Haute Vie Africa has made strides in placing Africa on the map since the humble beginnings in 2017. Now, Haute Vie Africa can be referred to us your number one hub for purchasing and selling products manufactured by Authentic African Brands.</p><p><br></p><p>Based in the most resourceful quarter of the world, the main focus of Haute Vie Africa is to export luxury products manufactured in Africa to all four corners of the world. In doing so, Haute Vie Africa will successfully bridge the gap between consumer and manufacturer.</p><p><br></p><p>We take dignity in our commendable customer service, dependability and uniqueness, making it a cardinal goal to deliver <span style="font-weight: bold; font-style: italic;">Safe, Secure</span> and <span style="font-weight: bold; font-style: italic;">Reliable </span>service to our customers. In doing so we have organically built up a client base, both nationally and internationally. We now serve customers worldwide, and are thrilled to be a part of the ever-booming, wing of the e-commerce industry. </p><p><br></p><p>We hope you enjoy the products and brands as much as we enjoy offering them to you!</p><p><br></p><p>Sincerely,</p><p><span style="font-style: italic;">Haute Vie Team</span></p>					 	
            </div>
        </div>
    </div>
</div>