<div class="term">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                <h1>CONTACT US</h1>	
                <p><br></p><p>Have any questions or concerns? We are always ready to help!</p><p>Call us at <span style="font-weight: bold;">+233 (0) 55 958 2872</span> or send us an email at <span style="font-weight: bold;">hello@hvafrica.com</span>.</p><p><span style="font-weight: 700;"></span></p><form action=""><p></p><p><span style="font-weight: 700;"> </span><span style="font-weight: bold;">OTHER WAYS TO CONTACT US</span></p><p style="margin-bottom: 30px;"><span style="font-weight: bold;">By Phone</span></p><p style="margin-bottom: 30px;">Our Customer Services teams are available Monday through Friday within the hours <span style="font-weight: bold;">9am to 5pm (GMT)</span> for any questions and advice.</p><p style="margin-bottom: 30px;"><span style="font-weight: bold;">I</span><span style="font-weight: bold;">f calling within Ghana:</span></p><p style="margin-bottom: 30px;"><span style="font-weight: bold;">055 958 2872</span></p><p style="margin-bottom: 30px;"><span style="font-weight: bold;">Calling from abroad:</span></p><p style="margin-bottom: 30px;"><span style="font-weight: bold;">+233 (0) 55 958 2872</span></p></form>					 	
            </div>
        </div>
    </div>
</div>