<div class="term">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                <h1>DELIVERY & EXCHANGES</h1>	
                <p><br></p><p><span style="font-weight: bold;">DELIVERY</span></p><p><span style="text-decoration-line: underline;">DHL</span></p><p>All our orders (both international and domestic) are shipped via DHL. We aim to have your order with you within 1-4 working days from the time you place your order.</p><p><br></p><p><span style="font-weight: bold;">RETURNS</span></p><p>Currently we do not accept returns.</p><p><br></p><p><span style="font-weight: bold;">CHANGES & CANCELLATIONS</span></p><p>If you wish to cancel or modify your order, please send us an email within 60 minutes of completing your order at hello@hvafrica.com. We will make every effort to accommodate your request. However, once an order has been submitted we cannot guarantee the purchase can be cancelled or modified. </p><p><br></p>					 	
            </div>
        </div>
    </div>
</div>
	