<!DOCTYPE html>
<html lang="en">
<head>
    <head>
		
		<title>Haute Vie - Homepage</title>
		<link rel="shortcut icon" type="image/png" href="images/favicon.png">
		
		<meta name="description" content="">
		
		<!-- Mobile viewport optimized -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-glyphicons.css" rel="stylesheet">
		
		<!-- Custom CSS -->
		<link href="css/global-styles.css" rel="stylesheet">
		<link href="css/index-styles.css" rel="stylesheet">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" rel="stylesheet">

		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">

		<!-- Animate CSS -->
		<link href="css/animate.css" rel="stylesheet">

		<!-- Font Awesome -->
		<link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">	
		
		<!-- Modernizer -->
		<script src="js/modernizr-2.6.2.min.js"></script>	

		<!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    
    <script src="/js/firebase-auth.js"></script>
    
	   
    <style type="text/css">

      .third-section .panel {
      }

      


    </style>
    


</head>

<body>
    {{> header}}

    {{> carousel}}

    <div class="container first-section">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="has-background img1">
                    <div class="overlay"></div>
                    <div class="img-content text-center">
                        <h3>ACCESSORIES</h3>
                        <h5>TIES, HATS AND MORE</h5>
                        <a href="#">
                            <button class="but">SHOP TODAY</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="has-background img2">
                    <div class="overlay"></div>
                    <div class="img-content text-center">
                        <h3>SKINCARE</h3>
                        <h5>DISCOVER NATURAL BEAUTY</h5>
                        <a href="#">
                            <button class="but">SHOP NOW</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
	</div>
    

    <div class="container second-section has-background">
        <div class="overlay"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-6 col-md-offset-6 col-sm-offset-6 text-center">
                <h2>ACCESSORIES</h2>
                <h5>DISCOVER THE LATEST</h5>
                <a href="#">
                    <button class="but">SHOP NOW</button>
                </a>	
            </div>	
        </div>
    </div>

    {{> footer}} 

    
    
    
    
    
   

</body>

</html>