<div class="term">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                <h1>ORDER STATUS</h1>	
                <p><br></p><p><span style="font-weight: bold;">Email Updates</span></p><p>We will keep you regularly updated on the progress of your order via email.</p><p><span style="font-weight: bold;"><span style="font-size: 18px;"><br></span></span></p><p><span style="font-weight: bold;"><span style="font-size: 18px;">Domestic & I</span><span style="font-size: 18px;">nternational delivery</span></span></p><p>You will receive an email to let you know when your order has been dispatched.</p><p>You will be able to track your orders with your tracking number via DHL's website. </p><p>For more details on your order status/delivery, see Shipping Policy.</p><p><span style="font-weight: bold; font-size: 18px;"><br></span></p><p><span style="font-weight: bold; font-size: 18px;">Weekend Orders</span></p><p>All orders that are placed over the weekend will be processed at the start of the following week. i.e. Monday excluding bank holidays, national holidays </p><p>(Ghana) etc. where orders will be processed after the holiday.</p>					 	
            </div>
        </div>
    </div>
</div>