<div class="term">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
						<h1>PAYMENT POLICY</h1>	
                       <p></p>


<p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><span lang="EN-GB" style="font-size: 13.5pt; font-family: " helvetica="" neue";"=""><br></span></b></p><p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><span lang="EN-GB" style="font-size: 13.5pt; font-family: " helvetica="" neue";"="">HOW CAN I PAY FOR MY ORDER?</span></b><span lang="EN-GB" style="font-size: 10.5pt; font-family: " helvetica="" neue";"=""><o:p></o:p></span></p>




<p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><span lang="EN-GB" style="font-size: 10.5pt; font-family: " helvetica="" neue";"="">INTERNATIONAL ORDERS</span></b></p>




<p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span lang="EN-GB" style="font-size: 10.5pt; font-family: " helvetica="" neue";"="">PayPal supports the use of any of the payment
types listed below to pay for your order. We take your security very seriously,
therefore your details are safe with us.<o:p></o:p></span></p>




<p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span lang="EN-GB" style="font-size: 10.5pt; font-family: " helvetica="" neue";"="">These include Visa, MasterCard, American
Express, Discover, JCB, Diner's Club and EnRoute. </span></p>


<p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">  </p>


<p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><span lang="EN-GB" style="font-size: 10.5pt; font-family: " helvetica="" neue";"=""><br></span></b></p><p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><b><span lang="EN-GB" style="font-size: 10.5pt; font-family: " helvetica="" neue";"="">DOMESTIC ORDERS (GHANA)</span></b><span lang="EN-GB" style="font-size: 10.5pt; font-family: " helvetica="" neue";"=""><o:p></o:p></span></p>


<p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span lang="EN-GB" style="font-size: 10.5pt; font-family: " helvetica="" neue";"="">Hubtel supports the various payment
types: <o:p></o:p></span></p>


<p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span lang="EN-GB" style="font-size: 10.5pt; font-family: " helvetica="" neue";"="">- Bank Cards accepted: GH-Link, Visa (Ghana
issued) and MasterCard (Ghana issued).<o:p></o:p></span></p>


<p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;">





</p>


<p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"><span lang="EN-GB" style="font-size: 10.5pt; font-family: " helvetica="" neue";"="">- Mobile Money.</span></p>


<p style="margin: 0in 0in 15pt; background-image: initial; background-position: initial; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial;"> </p>					 	
					</div>
				</div>
			</div>
		</div>