		
<div class="carousel slide" id="myCarousel" data-ride="carousel" data-interval="4000">
    <div class="carousel-inner" role="listbox">          
        <div class="item active">
            <div class="fill" style="background-image:url('img/3.jpg');">
                <div class="overlay"></div>
                <div class="header-content">
                <h2>JEWELLERY</h2>
                <h5></h5>
                <a href="#" class="but">Shop Now</a>
            </div>
            </div>	
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('img/2.jpg');">
                <div class="overlay"></div>
                <div class="header-content">
                <h2>BOOKS</h2>
                <h5></h5>
                <a href="#" class="but">Shop Now</a>
            </div>
            </div>	
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('img/1.jpg');">
                <div class="overlay"></div>
                <div class="header-content">
                <h2>ACCESSORIES</h2>
                <h5></h5>
                <a href="#" class="but">Shop Now</a>
            </div>
            </div>	
        </div>
    </div>
</div>