<link rel="stylesheet" href="css/flag-icon.min.css">
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center col-small-offset-3">
				<img src="images/white-logo.png" class="img-responsive">
				<p>JOIN OUR MAILING LIST FOR NEWS, DISCOUNTS, & EVERYTHING HAUTE VIE</p>
				<form class="input-group">
      				<input type="email" id="email" class="form-control" placeholder="ENTER YOUR EMAIL ADDRESS">

      				<span class="input-group-btn">

        				<button class="btn" onclick="myFunction();" type="button">SEND</button>
      				</span>
    			</form>
			</div>
						
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
						<ul class="footer-links"> 
							<li><a href="/about">ABOUT US</a></li>
							<li><a href="/contact">CONTACT US</a></li>
							<li><a href="/faqs">FAQs</a></li>
							<li><a href="/delivery-exchanges">DELIVERY & EXCHANGES</a></li>
							<li><a href="/order-status">ORDER STATUS</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
						<ul class="footer-links"> 
							<li><a href="/shipping-policy">SHIPPING POLICY</a></li>
							<li><a href="/privacy-policy">PRIVACY POLICY</a></li>
							<li><a href="/payment-policy">PAYMENT POLICY</a></li>
							<li><a href="/terms-and-conditions">TERMS & CONDITIONS</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-up-md">
						<h5>CONNECT WITH US:</h5>
						<ul class="social-links">
							<li>
								<a href="https://www.facebook.com/hautevieafrica" target="new">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/hautevie_africa/" target="new">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a href="https://twitter.com/Hautevie_africa" target="new">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							
						</ul>
						<br>
						<p>
                            <form action="#" style="display: inline-block;">
                                <input type="hidden" name="country_name" value="1">
                                <button   style="color:#fff;cursor:pointer;text-decoration:none !important;" class="country-btn">
                                <i class="flag-icon flag-icon-gh"></i> GHA 
                                </button>
                            </form>
                            <form action="#" style="display: inline-block;">
                                <input type="hidden" name="country_name" value="2">
                                <button   style="color:#fff;cursor:pointer;text-decoration:none !important;" class="country-btn"><i class="fa fa-globe"></i> WORLDWIDE</button>
                            </form>
						</p>
						<img src="images/plans-grayscale.png" class="img-responsive">
					</div>
				</div>
			</div>
		</div>
		<div class="row copyright">
			<hr>
			<p class="small">&copy; 2018 ALL RIGHTS RESERVED. DESIGNED BY <a href="http://effectstudios.co/" target="new">EFFECTSTUDIOS</a></p>
		</div>
	</div>
</footer>

<!-- COOKIES: CHECK LATER -->
{{!-- <?php if(!isset($_COOKIE['user'])) { ?> --}}
{{!-- <div class="cookies">
	<div class="container">
		<div class="row">
			<form action="<?= $_SERVER['REQUEST_URI']; ?>" method="POST">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<p>In order to give you the best experience, our website uses cookies. By continuing to use this site, you agree to our use of cookies.</p>	
				<button name="cookies">Accept</button>
				<a href="">More Information</a>
			</div>
			</form>
		</div>
	</div>
</div> --}}
{{!-- <?php } ?> --}}


<!-- First try for the online version of jQuery-->
<script src="http://code.jquery.com/jquery.js"></script>

<!-- If no online access, fallback to our hardcoded version of jQuery -->
<script>window.jQuery || document.write('<script src="js/jquery-1.11.3.min.js"><\/script>')</script>

<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.trigger-nav').click(function(){
			$('.navigation-small').removeClass('go-out-left');
		})
		$('.close-nvs').click(function(){
			$('.navigation-small').addClass('go-out-left');
		})
		$('.open-search').click(function(){
			$('.search-box').toggleClass('pull-up');
		})
	})
</script>

<script>
function myFunction(){
	  var email = document.getElementById("email").value;
	  var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/; 
	 if(email.match(mailformat) && email != "" ){
		$.ajax({
            type:'post',
            url:'insertemail.php',
            data:{
                //item_src:img_src,
                email:email
            },
            success:function(response){
                toastr.success('Thank you for Subscribing!');
                document.getElementById("email").value = "";
            }
        });  
	  }else{
		  toastr.success('Incorrect Email Address');
	  }
	 
	
}

</script>