
<!-- FOR NOTIFICATION-->
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<!-- FOR NOTIFICATION-->
<!-- Bootstrap CSS -->

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-glyphicons.css" rel="stylesheet">
<div class="header-container">
    <div class="first-header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <a class="trigger-nav visible-xs dib"><i class="fa fa-bars"></i></a>
                    <ul class="top-tools new-position hidden-xs">
                        <!-- <li>
                        <a href="signin.php">
                            <i class="fa fa-user"></i> Login | Register
                        </a>
                        </li> -->
                    </ul>
                    <a href="/en-gh"><img src="images/black-logo.png" class="logo-img img-responsive"></a>
                    <ul class="top-tools">
                        <li>
                            <a href="/login" target="_blank" id="user-actif">
                                <i class="fa fa-user-o"></i>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a id="dropdownMenuButton" data-toggle="dropdown" class="cart-btn" onclick="show_cart()">
                                    <i class="fa fa-shopping-bag"></i><sub id="total_items">0</sub>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <div class="clearfix cart-title">
                                        <h3 class="pull-left">Shopping Bag</h3>
                                        <p class="pull-right" id="total_items"></p>
                                    </div>

                                    <ul id="mycart">


                                    </ul>

                                    <div class="cart-footer">

                                        <div class="clearfix">

                                            <h3 class="pull-left">Total</h3>

                                            <h3 class="pull-right" id="total_Amt" style="font-weight: 600;">GHC 0.00</h3>

                                        </div>

                                        <div class="clearfix">

                                            <a href="checkout.php"><button class="pull-right chck-out">Checkout</button></a>

                                            <a href="cart.php"><button class="pull-right see-bag">View Bag</button></a>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </li>

                        <li class="hidden-xs">
                            <form>
                                <input type="text" name="" id="search" placeholder="Search">
                                    <i class="fa fa-search"></i>
                            </form>
                        </li>
                        
                        <li class="visible-xs dib"> 
                            <a style="color: #333 !important;text-decoration: none !important;cursor: pointer;margin-left: -10px;" class="open-search"><i class="fa fa-search"></i></a>
                        </li>

                    </ul>
                    <ul class="list-group search_result" id="result"></ul>
                </div>
                

                <script>
        
                    $(document).ready(function(){

                        $('#search').keyup(function(){
                            $('#result').html('');
                            var search = document.getElementById("search").value;
                            if(search == ''){
                                $('#result').html('');	 
                            }else{
                            $.ajax({
                                type: "POST",
                                data: {search:search},
                                url: "search_product.php",
                                success: function(msg){
                                    $('#result').append(msg);
                                        //document.getElementById("result").innerHTML = msg; //response;
                                        //document.getElementById("lod").innerHTML = "";
                                }
                            });
                                
                            } // END OF IF STATEMENT

                        });
                    });
                </script>    

            </div>

        </div>

    </div>
                    
    <nav class="navbar navbar-default hidden-xs special-nav">
        <div class="container-fluid">
            <div class="nav-collapse collapse navbar-responsive-collapse" id="mainNavBar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropown">
                        <a href="#" class="dropown-toggle">
                            JEWELLERY                          
                            </a>
                    </li>
        
                    <li class="dropown">

                        <a href="#" class="dropown-toggle">

                            ACCESSORIES                          
                            </a>

                    </li>

        
                    <li class="dropown">

                        <a href="#" class="dropown-toggle">

                            BEAUTY                          
                            </a>

                    </li>

        
                    <li class="dropown">

                        <a href="#" class="dropown-toggle">

                            BAGS                          
                            </a>

                    </li>

        
                    <li class="dropown">

                        <a href="#" class="dropown-toggle">

                            BOOKS                          
                            </a>

                    </li>

        
                    <li class="dropown">

                        <a href="#" class="dropown-toggle">

                            HOME                          
                            </a>

                    </li>

        
                    <li class="dropown">

                        <a href="#" class="dropown-toggle">

                            GIFTS &amp; MORE                          
                            </a>

                    </li>

        
                    <li class="dropown">

                        <a href="#" class="dropown-toggle">

                            BY THE BRAND                          
                            </a>

                    </li>

        
                </ul>

            </div>

        </div>

    </nav>

</div>