<div class="container third-section">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3>SHOP NEW ARRIVALS</h3>
        </div>
        <div class="col-lg-12">
            <div class="owl-carousel owl-theme">
                <div class="panel">
                    <input type="hidden" name="pid" id="385product_id" value="385">
                    <div class="panel-body">
                        <div class="image-in">
                                <a href="#">
                                    <img src="img/p1.jpg" class="img-responsive img-resize">
                                </a>	
                        </div>
                        <div class="hover-image">
                            <img src="img/p1b.jpg" class="img-responsive img-resize">
                        </div>
                        <div class="bag-func" onclick="#" >
                            <i  style="cursor: pointer;"class="fa fa-shopping-bag"></i> 
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="clearfix">
                            <h4 class="pull-left"> Bow Tie BD</h4>
                            <p class="price pull-right">
                                <strike>GHS 32 </strike>
                                <input type="hidden" id="385_price" value="250"> 
                            </p>
                        </div>
                        <p class='descr'>X</p> 
                        <p class='descr'>Y</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>